.container{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin: auto;
}

.slide-item{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.container-info{
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
}